<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home</title>
  <!-- already use static serve-->
  <link rel="stylesheet" href="/static/style.css"/>
</head>
<br><br><br><br><br><br><br><br>
<center>
  <h1>Welcome To Online Feedback Form</h1>
  
  <div class="col" id="container">
    <br>
    <br>
    <br>
    <a href="index">Registration</a><br><a href="login">Login</a><br><a href="feedback_form">Feedback</a><br>
  </div>
</center>
</html>