<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Reg Form</title>
    <!-- already use static serve-->
    <link rel="stylesheet" href="/static/style.css"/>
  </head>
  <body>
    <div class="form">
      <h2>REGISTRATION sucesss</h2>
    </div>
  </body>
</html>